$borderColor: darkred;
$backgroundColor: #333;

body {
  padding-top: 80px;
  padding-bottom: 40px;
}

.container {
  width: 80%;
  margin: 50px auto;
}

.fixed-header, .fixed-footer {
  width: 100%;
  position: fixed;
  background: #000000;
  padding: 10px;
  font-size: 20px;
  font-family: 'Arial', sans-serif;
  font-style: normal;
  color: red;

}

.fixed-footer {
  bottom: 0;
}

.fixed-header {
  top: 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-height: 40px;
  margin-right: 10px; // Logo ile içerik arasına boşluk eklemek için
}

.content-text {
  font-weight: bold;
  color: var(--font-color);
  font-size: 20px;
}


.movie-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.movie-item {
  margin: 10px;
  width: 200px;
  text-align: center;
}

.movie-poster {
  max-width: 100%;
  height: auto;
}

.movie-title {
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
}

.movie-details {
  padding: 10px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: left;
}

.movie-detail-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.movie-detail-value {
  margin-bottom: 10px;
}