$borderColor: darkred;
$backgroundColor: #333;

.header-area {
  height: 80px;
  border: 2px solid $borderColor;
  background: $backgroundColor;
  padding: 0 10px 20px;
}

.footer-area {
  height: 30px;
  position: absolute;
  bottom: 0;
}

.content-area {
  height: 200px;
  margin-top: 30px;
  padding: 5px;
  border: 2px solid $borderColor;
  background: $backgroundColor;
  width: 100%;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 1);
}

.content-text {
  font-weight: bold;
  color: red;
  font-size: 20px;
}
