$borderColor: darkred;
$backgroundColor: #333;

.header-area {
  height: 80px;
  border: 2px solid $borderColor;
  background: $backgroundColor;
  padding: 0 10px 20px;
}

.footer-area {
  height: 30px;
  position: absolute;
  bottom: 0;
}

.content-text {
  font-weight: bold;
  color: red;
  font-size: 20px;
}

.movie-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.movie-item {
  margin: 10px;
  width: 200px;
  text-align: center;
}

.movie-poster {
  max-width: 100%;
  height: auto;
}

.movie-title {
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
}

.movie-details {
  padding: 10px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: left;
}

.movie-detail-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.movie-detail-value {
  margin-bottom: 10px;
}
