.movie-details-card {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.img {
  width: 50%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 15px;
}

.img:hover {
  width: 50%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 15px;
}

.title-label {
  font-size: 18px;
  margin-bottom: 10px;
}

.play-button {
  background-color: #3498db; /* Buton rengi */
  color: #fff; /* Buton metin rengi */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #2980b9; /* Hover durumunda buton rengi */
  }
}

