.header {
  color: #fff;
  padding: 20px 20px;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Change to flex-start */
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.logo:hover {
  transform: scale(1.1); /* Fareyle üzerine gelindiğinde logoyu ölçeklendirin */
}


.nav {
  display: flex;
  flex-grow: 1; /* Kalan alanı doldurur */
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 4px;
}

.nav a:hover {
  color: #e5e5e5;
}

.search {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.search:hover {
  color: #e5e5e5;
}

.search-container {
  background-color: #333;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  max-width: 300px;
}

.searchInput {
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.closeIcon {
  cursor: pointer;
}

