.trend-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px;
  margin-bottom: 50px;
  flex-direction: row;
}

.trend-header {
  font-size: 24px;
  font-weight: bold;
  margin-top: 50px;
  margin-left: 10px;
  color: #fff;
  margin-bottom: 15px;
}

.trend-header:hover {
  color: #e5e5e5;
}

.trend-card {
  flex: 0 0 auto;
  width: 200px;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  &:hover {
    /*   transform: translateY(-5px); Kartı fareyle üzerine gelindiğinde hafifçe yukarı taşıyın */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Fareyle üzerine gelindiğinde daha güçlü bir kutu gölgesi ekle */
    background-color: #333;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  h3 {
    font-size: 16px;
    margin-bottom: 5px;
    color: #fff;
  }

  p {
    font-size: 14px;
    color: #fff;
  }

}
