/* VideoPlayer.module.css */
.videoContainer {
  width: 80%; /* Özel genişlik ayarı */
  margin: auto; /* Ortalamak için margin ekleyebilirsiniz */
  border: 1px solid #ddd; /* Kenarlık eklemek için örnek bir stil */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Gölge eklemek için örnek bir stil */
  padding: 20px; /* İç boşluk eklemek için örnek bir stil */
}
